{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
<center>
    <h1 style="text-align: center">Аналитика по зарплатам и городам для<br>
        профессии PHP-программист</h1>
    <div style="text-align: center">
        <h2>Статистика по годам</h2>
        <table align="center">
            <tr>
                <th><strong>Год</strong></th>
                <th><strong>Средняя зарплата</strong></th>
                <th><strong>Средняя зарплата<br>
                    PHP-программист</strong>
                </th>
                <th><strong>Количество вакансий</strong></th>
                <th><strong>Количество вакансий -<br>
                    PHP-программист</strong>
                </th>
            </tr>

            <tr>
                <th>2005</th>
                <th>93601</th>
                <th>65493</th>
                <th>1836</th>
                <th>16</th>
            </tr>

            <tr>
                <th>2006</th>
                <th>93582</th>
                <th>67211</th>
                <th>16229</th>
                <th>137</th>
            </tr>

            <tr>
                <th>2007</th>
                <th>102279</th>
                <th>77857</th>
                <th>24000</th>
                <th>352</th>
            </tr>

            <tr>
                <th>2008</th>
                <th>81834</th>
                <th>69680</th>
                <th>30627</th>
                <th>506</th>
            </tr>

            <tr>
                <th>2009</th>
                <th>53351</th>
                <th>52126</th>
                <th>20989</th>
                <th>515</th>
            </tr>

            <tr>
                <th>2010</th>
                <th>49933</th>
                <th>48323</th>
                <th>31930</th>
                <th>998</th>
            </tr>

            <tr>
                <th>2011</th>
                <th>53387</th>
                <th>53133</th>
                <th>42282</th>
                <th>1693</th>
            </tr>

            <tr>
                <th>2012</th>
                <th>52049</th>
                <th>59265</th>
                <th>49309</th>
                <th>2049</th>
            </tr>

            <tr>
                <th>2013</th>
                <th>56452</th>
                <th>63520</th>
                <th>68149</th>
                <th>2853</th>
            </tr>

            <tr>
                <th>2014</th>
                <th>51993</th>
                <th>63065</th>
                <th>75828</th>
                <th>2846</th>
            </tr>

            <tr>
                <th>2015</th>
                <th>52695</th>
                <th>63011</th>
                <th>78934</th>
                <th>3153</th>
            </tr>

            <tr>
                <th>2016</th>
                <th>62735</th>
                <th>69717</th>
                <th>85740</th>
                <th>4571</th>
            </tr>

            <tr>
                <th>2017</th>
                <th>61908</th>
                <th>76041</th>
                <th>95811</th>
                <th>4701</th>
            </tr>

            <tr>
                <th>2018</th>
                <th>67679</th>
                <th>81325</th>
                <th>149308</th>
                <th>5675</th>
            </tr>

            <tr>
                <th>2019</th>
                <th>71828</th>
                <th>89677</th>
                <th>130763</th>
                <th>4969</th>
            </tr>

            <tr>
                <th>2020</th>
                <th>72595</th>
                <th>94024</th>
                <th>115116</th>
                <th>3915</th>
            </tr>

            <tr>
                <th>2021</th>
                <th>84102</th>
                <th>121170</th>
                <th>65205</th>
                <th>2175</th>
            </tr>

            <tr>
                <th>2022</th>
                <th>97903</th>
                <th>135759</th>
                <th>20685</th>
                <th>575</th>
            </tr>

        </table>
    </div>
    <div style="padding: 30px 10% 0 10%">
        <img width="48%" src="{{ infopage.graph_left.url }}"/>
        <img width="48%" src="{{ infopage.graph_right.url }}"/>
    </div>
</center>
{% endblock %}