{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}

<div><h2 style="text-align: center; margin: 0 20% 40px 20%">Список самых популярных скиллов по годам</h2></div>
<div style="margin: 0 5% 0 5%">
    <div style="width: 40%;float:left; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2015</b></h3>
            <tr>
                <th>PHP</th>
                <th>1349</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>1015</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>927</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>796</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>788</th>
            </tr>
            <tr>
                <th>PHP5</th>
                <th>771</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>722</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>689</th>
            </tr>
            <tr>
                <th>CSS3</th>
                <th>622</th>
            </tr>
            <tr>
                <th>Ajax</th>
                <th>610</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:right; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2016</b></h3>
            <tr>
                <th>PHP</th>
                <th>4235</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>2915</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>2889</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>2330</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>2182</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>2025</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>1841</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>1723</th>
            </tr>
            <tr>
                <th>PHP5</th>
                <th>1721</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>1406</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:left; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2017</b></h3>
            <tr>
                <th>PHP</th>
                <th>5534</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>3904</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>3765</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>3084</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>3035</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>2601</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>2352</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>2082</th>
            </tr>
            <tr>
                <th>PHP5</th>
                <th>1995</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>1753</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:right; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2018</b></h3>
            <tr>
                <th>PHP</th>
                <th>7615</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>5179</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>5112</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>4398</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>4107</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>3404</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>3274</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>2742</th>
            </tr>
            <tr>
                <th>PHP5</th>
                <th>2368</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>2186</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:left; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2019</b></h3>
            <tr>
                <th>PHP</th>
                <th>6539</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>4218</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>4035</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>3304</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>3077</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>2914</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>2298</th>
            </tr>
            <tr>
                <th>ООП</th>
                <th>1933</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>1776</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>1732</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:right; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2020</b></h3>
            <tr>
                <th>PHP</th>
                <th>6024</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>4056</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>3500</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>3072</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>2665</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>2650</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>1898</th>
            </tr>
            <tr>
                <th>ООП</th>
                <th>1716</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>1544</th>
            </tr>
            <tr>
                <th>PHP5</th>
                <th>1454</th>
            </tr>
        </table>
    </div>
    <div style="width: 40%;float:left; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2021</b></h3>
            <tr>
                <th>PHP</th>
                <th>3184</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>2183</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>1728</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>1634</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>1242</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>1192</th>
            </tr>
            <tr>
                <th>ООП</th>
                <th>906</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>749</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>651</th>
            </tr>
            <tr>
                <th>HTML5</th>
                <th>593</th>
            </tr>
        </table>
    </div>
    <div
            style="width: 40%;float:right; margin: 0 40px 20px 40px">
        <table class="table table-bordered">
            <h3 style="text-align:center"><b>2022</b></h3>
            <tr>
                <th>PHP</th>
                <th>871</th>
            </tr>
            <tr>
                <th>MySQL</th>
                <th>568</th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>431</th>
            </tr>
            <tr>
                <th>Git</th>
                <th>425</th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>344</th>
            </tr>
            <tr>
                <th>CSS</th>
                <th>322</th>
            </tr>
            <tr>
                <th>ООП</th>
                <th>283</th>
            </tr>
            <tr>
                <th>jQuery</th>
                <th>184</th>
            </tr>
            <tr>
                <th>1С-Битрикс</th>
                <th>171</th>
            </tr>
            <tr>
                <th>SQL</th>
                <th>162</th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}